$this: ".question__action";

#{$this} {
  svg {
    circle, path {
      stroke: var(--color-helper);
      transition: stroke 0.3s;
    }
  }

  &.active {
    color: var(--color-primary);

    svg {
      circle, path {
        stroke: var(--color-primary);
      }
    }
  }

  &.success {
    color: var(--color-success);

    svg {
      circle, path {
        stroke: var(--color-success);
      }
    }
  }

  &:active, &:focus, &:hover {
    &.error {
      color: var(--color-error);

      svg {
        circle, path {
          stroke: var(--color-error);
        }
      }
    }
  }
}
