@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@400;500;700&display=swap');

html, button, input, select, textarea {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

html {
  line-height: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', 'Roboto', sans-serif;
  font-weight: 700;
  margin: 16px 0;
}

h1 {
  font-size: 36px;
  line-height: 42px;
}

h2 {
  font-size: 24px;
  line-height: 32px;
}

h3 {
  font-size: 18px;
  line-height: 27px;
}

p {
  margin: 8px 0;
  padding: 0;
}