* {
  box-sizing: border-box;
}

html {
  color: var(--color-text);
  background: var(--color-background);
}

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

html, body, #root {
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100%;
}

.fw {
  width: 100%;
}

.centered {
  margin-right: auto;
  margin-left: auto;
}

a {
  text-decoration: none;
}

a:not(.btn) {
  color: var(--color-primary);
  transition: color 0.2s;

  &:active, &:focus, &:hover {
    color: var(--color-primary-hover);
  }
}
