$sizes: 0, 4, 5, 8, 10, 12, 15, 16, 20, 22, 24, 25, 28, 30, 32, 34, 35, 36, 40, 45, 50, 55, 60;

@each $size in $sizes {
  .gap {
    &-#{$size} {
        gap: #{$size}px;
    }
  }

  .m {
    &-#{$size} {
      margin: #{$size}px;

      &-t {
        margin-top: #{$size}px;
      }

      &-r {
        margin-right: #{$size}px;
      }

      &-b {
        margin-bottom: #{$size}px;
      }

      &-l {
        margin-left: #{$size}px;
      }

      &-hor {
        margin-right: #{$size}px;
        margin-left: #{$size}px;
      }

      &-ver {
        margin-top: #{$size}px;
        margin-bottom: #{$size}px;
      }
    }
  }

  .p {
    &-#{$size} {
      padding: #{$size}px;

      &-t {
        padding-top: #{$size}px;
      }

      &-r {
        padding-right: #{$size}px;
      }

      &-b {
        padding-bottom: #{$size}px;
      }

      &-l {
        padding-left: #{$size}px;
      }

      &-hor {
        padding-right: #{$size}px;
        padding-left: #{$size}px;
      }

      &-ver {
        padding-top: #{$size}px;
        padding-bottom: #{$size}px;
      }
    }
  }
}
