$this: ".text";

#{$this} {
  &-left {
    text-align: left;
  }

  &-center {
    text-align: center;
  }

  &-right {
    text-align: right;
  }

  &-lead {
    font-size: 24px;
    line-height: 32px;
  }
}
